/* Set the base font and background color for the entire app */
body {
  font-family: 'Lato', sans-serif; /* Cambiamos la fuente a Lato */
  background-color: #e6e6e6; /* Cambiamos el color de fondo a #e6e6e6 */
}

/* Center align the content in the container */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

/* Style the input and button for the YouTube URL */
input[type="text"] {
  padding: 10px; /* Aumentamos el espacio interno */
  border: 1px solid #ccc;
  border-radius: 5px; /* Redondeamos los bordes */
  width: 100%;
  font-size: 16px; /* Cambiamos el tamaño de la fuente */
  margin-bottom: 10px; /* Añadimos un espacio inferior */
}

/* Style the "Download Thumbnails" button */
.btn-blue {
  background-color: #3498db;
  color: white;
  font-weight: 700; /* Cambiamos el peso de la fuente a 700 */
  padding: 12px 24px; /* Aumentamos el espacio interno */
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s;
  font-size: 18px; /* Cambiamos el tamaño de la fuente */
}

.btn-blue:hover {
  background-color: #2680c5;
}

/* Style the thumbnail options */
.thumbnail-option {
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px; /* Aumentamos el espacio interno */
  text-align: center;
  transition: box-shadow 0.2s;
  margin-bottom: 20px; /* Añadimos un espacio inferior */
}

.thumbnail-option:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Hacemos que la sombra sea más visible */
}

/* Style the images within thumbnail options */
.thumbnail-option img {
  max-width: 100%;
  height: auto;
}

/* Style the "Copy Image URL" button */
.thumbnail-option button {
  background-color: #3498db;
  color: white;
  font-weight: 700; /* Cambiamos el peso de la fuente a 700 */
  padding: 8px 16px; /* Aumentamos el espacio interno */
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s;
  font-size: 16px; /* Cambiamos el tamaño de la fuente */
}

.thumbnail-option button:hover {
  background-color: #2680c5;
}
